body{
    background:#ebe9eb;
    font-family:'Fredoka One', cursive;
}

form{
    font-size:50px;
    width:100%;
    margin:auto;
    font-family:'Fredoka One', cursive;
    position: fixed;
    text-align: center;
    bottom: 250px;

}
h1{
    background:#9b51e0;
    text-align: center;
    color: #fff;
    margin-top: 70px;
    padding: 70px;
    font-size: 90px ;

}

.correo{
    margin-top: 150px;
    padding: 10px;
    padding-inline: 100px;
    background:#fff;
    color: rgb(31, 29, 29);
    border: 1px solid #e2e6ec;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn-ingreso{
    display: inline-block;
    margin: 0px;
    padding: 10px;
    width: 150px;
    background:#00D397;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    border: 3px solid #79469D;
    text-decoration: none;
    border-radius: 30px;
}
footer{
    margin: 10px;
    padding: 10px;
    color: #7A7A7A;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    text-align:center;
    background-color: #ebe9eb;;
    
}
.registro{
    margin: 0px;
    padding: 10px;
    background:#00D397;
    color: #fff;
    position: fixed;
    bottom:500px;
    right: 0;
    width: 200px;
    border: 3px solid #79469D;
    text-decoration: none;
    border-radius: 30px;

}